<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Room</title>
</head>
<body>
    <header>
        <h1>Online Tuition App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for ('index') }}">Home</a></li>
                {% if is_authenticated != True %}
                <li><a href="{{ url_for ('register') }}">Register</a></li>
                <li><a href="{{ url_for ('web_login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for ('user') }}">Profile</a></li>
                <li><a href="{{ url_for ('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for ('web_logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block content %} 
            {% endblock %} 
        </main>
    </header>
</body>
</html>