<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-debug>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Room</title>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/angularjs/angular-route.min.js"></script>
    <script src="js/angularjs/angular-cookies.min.js"></script>

    <link rel="stylesheet" href="css/adminlte.min.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">

</head>

<body class="layout-top-nav">
    <div class="wrapper" ng-controller="MainController">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li> -->
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" ng-show="isLogged">
                    <button class="btn btn-block btn-default btn-sm" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa-solid fa-user"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                        <a class="dropdown-item" ng-click="logout()" href="#">
                            <i class="fa-solid fa-right-from-bracket"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- View Container -->
        <div class="view-container" ng-view></div>
    </div>
    <script src="js/jquery/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/adminlte.min.js"></script>
    <script src="js/core/app.js"></script>
    <script src="js/core/router.js"></script>
    <script src="js/services/app.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/signup.js"></script>
    <script src="js/controllers/signin.js"></script>
    <script src="js/controllers/main.js"></script>
    
</body>

</html>