<div class="content-wrapper">
    
</div>

<!-- <div class="wrapper">
    <div class="container mt-5">
        <h2 class="pb-2 border-bottom">Quick Options</h2>
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <div>
                    <h2>Likes and Comments</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">Explore more</a>
                </div>
            </div>
            <div class="col">
                <div>
                    <h2>Top Categories</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">Explore more</a>
                </div>
            </div>
            <div class="col">
                <div>
                    <h2>Popular Topics</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">Explore more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="pb-2 border-bottom">Our Courses</h2>
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">View Playlist</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">View Playlist</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="#" class="btn btn-primary">View Playlist</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->