<div class="content-wrapper login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Register a new membership</p>
                <div class="alert alert-danger alert-dismissible" ng-show="!isUndefined(error)" >
                    {{error}}
                </div>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Full Name" ng-model="name">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" ng-model="email">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" ng-model="password">
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" ng-model="student">
                                <label for="remember">
                                    Are you student?
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block"
                                ng-click="register()">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>