<div class="content-wrapper login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <div class="alert alert-danger alert-dismissible" ng-show="!isUndefined(error)" >
                    {{error}}
                </div>
                <form>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" ng-model="email">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" ng-model="password">
                    </div>
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block"
                                ng-click="signin()">Sign In</button>
                        </div>
                    </div>
                    <a href="#!/register">Not a member?</a>
                </form>
            </div>
        </div>
    </div>
</div>